.styled_button {
  padding: 8px 20px;
  background-color: transparent;
  border: none;
  border-radius: $radius_xlg;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .child_element {
    font-weight: $font_semibold;
    letter-spacing: 2px;
    font-size: $text_sm;
  }

  .loading_wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      animation: loading $transition_slow infinite;
      font-size: 18px;
    }

    @keyframes loading {
      from {
        transform: rotate(0);
      }

      from {
        transform: rotate(360deg);
      }
    }
  }

  &.with_icon {
    .child_element {
      display: flex;
      align-items: center;

      > svg,
      img {
        margin-right: 10px;
      }
    }
  }

  &.light {
    background-color: $light;
    span {
      color: $primary;
    }
  }
  &.primary {
    background-color: $primary;
    span {
      color: $light;
    }
  }

  &.secondary {
    background-color: $secondary;
    span {
      color: $light;
    }
  }

  &.danger {
    background-color: $danger;
    span {
      color: $light;
    }
  }

  &.success {
    background-color: $success;
    span {
      color: $light;
    }
  }

  &.info {
    background-color: $info;
    span {
      color: $light;
    }
  }

  &.warning {
    background-color: $warning;
    span {
      color: $light;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    .child_element {
      opacity: 0;
    }
  }

  // text colors

  &.text_primary {
    span {
      color: $primary;
    }
  }

  &.text_light {
    span {
      color: $light;
    }
  }

  &.text_secondary {
    span {
      color: $secondary;
    }
  }

  &.text_danger {
    span {
      color: $danger;
    }
  }

  &.text_info {
    span {
      color: $info;
    }
  }

  &.text_success {
    span {
      color: $success;
    }
  }

  &.text_warning {
    span {
      color: $warning;
    }
  }

  // sizes

  &.xlg {
    padding: 14px 40px;
  }

  &.lg {
    padding: 10px 30px;
  }

  &.md {
    padding: 8px 20px;
  }

  &.sm {
    padding: 6px 15px;
  }

  &.p_0 {
    padding: 0;
  }
}
