.product_card_wrap {
  box-shadow: $shadow_light;
  border-radius: $radius_sm;
  max-width: 100%;
  overflow: hidden;

  .image_wrap {
    width: 100%;
    position: relative;
    height: 250px;
  }

  .card_content {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 220px;
    p {
      font-size: $text_sm;
      color: $dark;
      margin-bottom: 5px;
      font-weight: $font_semibold;
    }
    .price {
      color: $primary;
      font-size: $text_md;
      margin-bottom: 10px;
    }
    .blog_card_area {
      display: flex;
      justify-content: space-between;
    }

    .primary {
      margin-top: 10px;
    }

    h3 {
      color: $dark;
      height: 42px;
      display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }

}
