.product_card_wrap {
  border: solid 1px $stroke_color;
  max-width: 100%;
  overflow: hidden;
  background-color: $light;
  border-radius: $radius_md;
  position: relative;

  .badge_wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 10px;

    .badge {
      padding: 4px 10px;
      border-radius: 6px;
      color: $light;
      line-height: 1;
      font-size: $text_sm;

      &.primary {
        background-color: $primary;
      }
      &.secondary {
        background-color: $secondary;
      }
      &.danger {
        background-color: $danger;
      }
    }
  }

  .image_wrap {
    width: 100%;
    position: relative;
    height: 240px;

    .wishlist_wrapper {
      position: absolute;
      bottom: 10px;
      right: 0;
      z-index: 9999;

      button {
        border: none;
        font-size: 30px;
        line-height: 1;
        background: rgba($color: $secondary, $alpha: 0);
        cursor: pointer;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color:$secondary;
        
        &.fill {
          
          color:$danger;
        }

        &:hover {
          opacity: 0.5;
        }
        &:active {
          opacity: 1;
        }

      }
    }
  }

  .card_content {
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    p {
      font-size: $text_sm;
      color: $dark;
      margin-bottom: 5px;
      font-weight: $font_semibold;
    }
    .price {
      color: $primary;
      font-size: $text_md;
      margin-bottom: 10px;
    }
    .blog_card_area {
    }

    .primary {
      margin-top: 10px;
      font-size: $text_sm;
    }

    h2 {
      color: $dark;
      font-size: $text_lg;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: $font_bold;
      margin-top: 10px;
    }

    p {
      margin-bottom: 10px;
      color: $text_color;
    }

    .location {
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
        color: rgba($color: $text_color, $alpha: 0.5);
        font-size: 16px;
      }
    }

    .blog_card_footer {
      margin-top: 10px;
    }

    .flex_between {
      display: flex;
      align-items: center;
      margin-top: 15px;
      justify-content: space-between;
    }
  }

  &.list {
    display: flex;

    .image_wrap {
      width: 220px;
      height: 200px;
      position: relative;
    }

    .blog_card_footer {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
    }

    .blog_card_area {
      justify-content: unset;
      gap: 10px;

      p {
        border-right: solid 2px $text_color;
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint_sm) {
  .product_card_wrap {
    &.list {
      display: flex;
      .image_wrap {
        width: 140px !important;
        height: 156px !important;
      }
    }

    &.card_small_mobile {
      .image_wrap {
        height: 150px;
      }

      .card_content {
        padding: 6px;
      }

      h2 {
        font-size: $text_sm;
        margin-top: 10px;
      }
      p {
        font-size: 10px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
