.product_card_wrap {
  border: solid 1px $stroke_color;
  max-width: 100%;
  overflow: hidden;
  background-color: $light;
  border-radius: $radius_md;
  box-shadow: $shadow_light;

  .image_wrap {
    width: 100%;
    position: relative;
    height: 240px;
  }

  .card_content {
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    p {
      font-size: $text_sm;
      color: $dark;
      margin-bottom: 5px;
      font-weight: $font_semibold;
    }
    .price {
      color: $primary;
      font-size: $text_sm;
      margin-bottom: 10px;
    }
    .blog_card_area {
    }

    .primary {
      margin-top: 10px;
      font-size: $text_sm;
    }

    h2 {
      color: $dark;
      font-size: $text_md;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .blog_card_footer {
      margin-top: 10px;
    }
  }

  &.list {
    display: flex;

    .image_wrap {
      width: 220px;
    }

    .blog_card_footer {
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
    }

    .blog_card_area {
      justify-content: unset;
      gap: 10px;

      p {
        border-right: solid 2px $text_color;
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
          border: none;
        }
      }
    }
  }
}
