.app_banner {
  position: relative;

  .slider_wrap {
    height: 400px;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $dark, $alpha: 0.7);
  }
}

.banner_placeholder {
  height: 400px;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (max-width: $breakpoint_md) {
  .app_banner {
    padding-bottom: 0 !important;
    .slider_wrap {
      height: 90px;
    }
  }

  .banner_placeholder {
    height: 90px;
  }
}
