.blog_card_wrap {
  box-shadow: $shadow_light;
  border-radius: $radius_md;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $radius_md $radius_md 0 0;
  overflow: hidden;

  .image_wrap {
    width: 100%;
    position: relative;
    height: 250px;
  }

  .card_content {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 160px;
    

    .content {
      > * {
        margin-bottom: 10px;
      }

      .desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
