.profile_setting {
  height: 100svh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
  
  .form_container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
      
      .form {
          width: 100%;
          max-width: 800px;
          margin: auto;
          
          .profile_upload {
          display: flex;
          flex-direction: column;
          align-items:center;
          justify-content:center;

      }

    }

    .user_detail {
      margin-bottom: 40px;
      h1 {
        text-align: center;
      }
    }
  }
}
