.image-gallery-image {
  max-height: 500px !important;
  background-color: $dark;
}
.fullscreen {
  .image-gallery-image {
    max-height: calc(100vh - 180px) !important;
    background-color: $dark;
  }
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 80px;
  object-fit: cover;
  border-radius:$radius_sm;
}

.image-gallery-thumbnail {
  border-radius: $radius_md;
  
  &.active {
    border-color:$primary !important;
  }
  
  &:hover {
    
    border-color:$primary !important;
  }
}

.image-gallery .image-gallery-svg {
  height: 50px;
  width: 20px;

  &:hover {
    color:$primary;
  }

}