.image-gallery {
  .image-gallery-swipe {
    height: 400px;
    max-height: 400px;
    background-color: $dark;

    .image-gallery-image {
      height: 400px;
      max-height: 400px !important;
    }
  }
  nav.image-gallery-thumbnails-container {
    max-height: 78px;

    .image-gallery-thumbnail {
      height: 70px;

      &.active {
        border-color: $primary !important;
      }
      &:focus {
        border-color: $primary !important;
      }
    }

    .image-gallery-thumbnail-image {
      height: 62px;
      object-fit: cover;
    }

    .image-gallery-thumbnail-inner {
      height: 70px;
    }
  }
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 400px !important;
  background-color: #444444;
}

