.profile_layout {

    .profile_content {
        display: flex;

        .filters {
            background-color: $light;
            min-width: 300px;
            max-width: 300px;
            max-height: fit-content;
            padding: 20px;

            .filters_header {
                padding: 20px 10px;
                padding-bottom: 15px;
                border-bottom: solid 1px $stroke_color;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: $text_md;
                    margin: 0;
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border-radius: 6px;

                        svg {
                            font-size: 18px;
                        }
                    }

                    .filters_action {
                        display: none;
                    }
                }
            }

        }

        .shop_ads_result {
            padding: 20px;
        }

        .load_more {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}