.login_wrap {
  padding: 60px 0;
  .login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px 40px;
    h2 {
      color: $dark;
    }
    p {
      margin: 20px 0px;
      .welcome_text {
        font-weight: $font_semibold;
      }
    }
    .login_btn {
      margin-top: 10px;
    }
    .login_or {
      border-right: 1px solid $stroke_color;
      border-right: 1px solid $stroke_color;
    }
    .social_login {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      img {
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width:$breakpoint_md) {
  .login_wrap {
    .login_form {
      padding:0;
    }
    .hide_image_tab {
      display: none;
    }
  }
}
