.signup_wrap {
    padding: 60px 0;
    .signup_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 10px 40px;
      h2 {
        color: $dark;
      }
      p {
        margin: 20px 0px;
        .welcome_text {
          font-weight: $font_semibold;
        }
      }
      .signup_btn {
        margin-top: 10px;
      }
      .signup_or {
        border-right: 1px solid $stroke_color;
        border-right: 1px solid $stroke_color;
      }
      .social_signup {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px $stroke_color;
        padding: 6px;
        img {
          margin-left: 8px;
        }
      }
    }
    .suggest_box {
      border-radius: $radius_sm;
      background-color: $light;
      border: solid 1px $stroke_color;
      margin-top: 10px;
      overflow: hidden;

      > button {
        width: calc(100% - 20px);
        height: 40px;
        border-radius: 8px;
        border: solid 1px #d4d4d4;
        text-align: left;
        margin: 10px;
        cursor: pointer;
        display:flex;
        align-items:center;

        svg {
          font-size: $title_sm;
          margin-right:10px;
          color:$primary;
        }
      }
  
      >div {
        padding: 6px 10px;
        border-bottom: solid 1px $stroke_color;
        margin-bottom: 5px;
        cursor: pointer;
  
        &.active {
          background-color: $stroke_color;
          border-color: transparent;
          
        }
  
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }

    .submit_wrapper {
      padding-bottom:0;
    }
  }
  

  @media screen and (max-width:$breakpoint_lg) {
    .signup_wrap {
      .signup_form {
        padding:0;

        > div {
          width: 100%;
        }
      }
      .hide_image_tab {
        display: none;
      }
    }
  }