.footer{
    padding: 40px 0px;
}
ul{
    list-style-type: none;
    padding: 0px;
}
.footer_icons_main{
    margin-top: 10px;
    svg{
        font-size: 24px;
    }
    svg:not(:first-child){
        margin-left: 8px;
    }
}
