.product_details_header {
  padding: 30px 0;
  background-color: rgba($color: $secondary, $alpha: 0.08);
  border-bottom: solid 1px $stroke_color;
  margin-bottom: 25px;

 

}
.content_wrap {
  .mb_60 {
    margin-bottom: 60px;
  }

  .mt_60 {
    margin-top: 60px;
  }
  .my_20 {
    margin: 20px 0;
  }

  h2 {
    margin: 0 0 30px 0 !important;
  }

   h3 {
    font-weight: $font_semibold;
    font-size: $title_sm;
  }
  
  .blink {
    animation:blink 1s infinite;
    color:$primary;
    font-weight: $font_semibold;
  }


  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }


  .styled_table {
    .t_row {
      display: flex;
      border-bottom: solid 1px $stroke_color;
      padding: 8px 0;

      .t_cols {
        flex: 1;
        font-size: $text_md;

        &:first-child {
          font-weight: $font_bold;
        }
      }
    }
  }

  .contact_actions {
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }

  .styled_chip {
    background:rgba($color: $primary, $alpha: 0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    width: max-content;
    padding:4px 10px;
    border-radius:$radius_sm;
    margin-top: 10px;

    font-weight:$font_semibold;

    svg {
      color:$primary;
      margin-right: 10px;

    }
  }
  
  .social {
    display: flex;
    gap: 10px;
    button,a {
      display: block;
      height: 40px;
      width: 40px;
      background-color: $light_gray;
      color: $gray;
      border:none;
      border-radius:$radius_md;
      font-size: 24px;
      display: flex;
      justify-content:center;
      align-items:center;
      cursor:pointer;

      &.whatsapp {
        background-color: #075e54;
        color: $light;
      }
      &.facebook {
        background-color: #1877F2;
        color: $light;
      }
      &.secondary {
        background-color: $secondary;
        color: $light;
      }

      &:hover {
        opacity:0.8;
      }
      &:active {
        opacity:1;
      }

    }
  }
}
