// Styled ANTD input

.styled_input {
  width: 100%;
  max-width: 100%;

  &.hide_label {
    label {
      visibility: hidden;
    }
  }

  .ant-input {
    border: solid 1px $stroke_color;
    border-width: 1px !important;
    box-shadow: unset;
    height: 34px;
    border-radius: $radius_xsm !important;
    font-size: $text_md;
    font-weight: $font_medium;

    &:hover {
      border-color: $dark;
    }

    &:focus {
      border: solid 1px rgba($color: $primary, $alpha: 1);
      box-shadow: unset;
    }
  }

  &.password_style {
    input {
      border: none !important;
      box-shadow: unset !important;
      height: 40px !important;
      padding: 0 10px;
    }

    .ant-input-affix-wrapper.ant-input-password {
      box-shadow: unset !important;
      padding: 0;
      border: 1px solid $stroke_color !important;
      overflow: hidden;
    }
    .ant-input-affix-wrapper-focused.ant-input-password {
      border: 1px solid rgba($color: $primary, $alpha: 1) !important;
      box-shadow: unset !important;
    }
    span.ant-input-suffix {
      margin: 0 20px 0 0;
    }
  }

  &.textarea_style {
    textarea {
      height: 120px !important;
    }
  }

  &.number_style {
    .ant-input-number {
      width: 100%;
      border: none !important;
      box-shadow: unset !important;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }
  }

  &.prefix_style {
    .ant-input-affix-wrapper {
      padding-top: 0;
      padding-bottom: 0;

      input {
        border: none !important;
        height: 38px !important;
      }

      &.ant-input-affix-wrapper-focused {
        border-color: $primary;
      }
      &:hover {
        border-color: $primary;
      }
    }
  }
}

// Styled ANTD select

.ant-select.styled_select {
  width: 100%;
  height: 34px;
  border-radius: 0 !important;
  font-size: $text_md;

  * {
    font-weight: $font_medium !important;
  }

  .ant-select-selector {
    border: solid 1px $stroke_color;
    border-width: 1px !important;
    box-shadow: unset;
    height: 34px;
    border-radius: $radius_xsm !important;
  }

  &:hover {
    .ant-select-selector {
      border-color: $stroke_color !important;
      box-shadow: unset !important;
    }
  }
}

.ant-select-focused.styled_select {
  .ant-select-selector {
    border-color: rgba($color: $primary, $alpha: 1) !important;
    box-shadow: unset !important;
  }
  &:hover {
    .ant-select-selector {
      border-color: rgba($color: $primary, $alpha: 1) !important;
      box-shadow: unset !important;
    }
  }
}
.ant-select-focused.styled_select.ant-select-open {
  .ant-select-selector {
    border-color: rgba($color: $primary, $alpha: 1) !important;
    box-shadow: unset !important;
  }

  &:hover {
    .ant-select-selector {
      border-color: rgba($color: $primary, $alpha: 1) !important;
    }
  }
}

// .ant-select-selection-placeholder {
//   color: $primary !important;
// }

.ant-select-arrow {
  > span {
    display:none;
  }
  
  width: 0;
  border-right:solid 6px transparent;
  border-top:solid 6px $gray;
  border-left:solid 6px transparent;
  margin-top: -3px !important;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected {
  background-color: $primary;

  * {
    color: $light;
  }
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: rgba($color: $primary, $alpha: 0.2);

  * {
    color: $primary;
  }
}

span.ant-select-arrow.ant-select-arrow-loading {
  color: $primary;
  font-size: 28px;
}

.ant-form-item-label > label {
  font-size: $text_md !important;
  font-weight: $font_medium;
}
.ant-form-item-label > .ant-form-item-required {
  &::before {
    content: unset !important;
  }
  &::after {
    display: inline-block;
    color: $danger;
    font-size: 14px;
    line-height: 1;
    content: "*" !important;
    visibility: visible !important;
  }
}

// Styled antd Checkbox

.ant-checkbox-wrapper {
  .ant-checkbox {
    * {
      border-color: $light_gray !important;
    }

    &.ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $light !important;
        &::after {
          border-color: $secondary;
        }
      }
    }
  }
  span {
    font-weight: $font_semibold;
    font-size: $text_sm;
  }
}

// Styled Antd Slider

.ant-slider {
  .ant-slider-track {
    background-color: rgba($color: $primary, $alpha: 0.6) !important;
  }
  .ant-slider-handle {
    &::after {
      box-shadow: 0 0 0 2px rgba($color: $primary, $alpha: 1) !important;
    }
  }
}
