@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  // background-color: #f5f5f5;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
span,
div,
li {
  color: $text_color;
}
p,
h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

p,
li,
a,
div,
li,
span {
  font-size: $text_md;
}

h1 {
  font-size: $title_lg;
  font-weight: $font_medium;
}
h2 {
  font-size: $title_md;
  font-weight: $font_semibold;
}
h3 {
  font-size: $title_xsm;
  font-weight: $font_semibold;
}

@media screen and (max-width: $breakpoint_md) {
  h1 {
    font-size: $title_md;
  }
  h2 {
    font-size: $title_sm;
  }
  h3 {
    font-size: $text_lg;
  }
}
@media screen and (max-width: $breakpoint_sm) {
  h1 {
    font-size: $title_sm;
  }
  h2 {
    font-size: $title_xsm;
  }
  h3 {
    font-size: $text_lg;
  }
}
