@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $body_color;
}

* {
  font-family: "Raleway", sans-serif !important;
  box-sizing: border-box;
}

#_layout {
  // min-height: 100svh;
}

p,
h1,
h2,
h3,
span,
div,
li {
  color: $text_color;
}
p,
h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

p,
li,
a,
div,
li,
span {
  font-size: $text_md;
}

h1 {
  font-size: $title_lg;
  font-weight: $font_medium;
}
h2 {
  font-size: $title_md;
  font-weight: $font_semibold;
}
h3 {
  font-size: $title_xsm;
  font-weight: $font_semibold;
}

// swiper styles

.swiper {
  padding-bottom: 40px !important;

  &.p_15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}

@media screen and (max-width: $breakpoint_md) {
  h1 {
    font-size: $title_md;
  }
  h2 {
    font-size: $title_sm;
  }
  h3 {
    font-size: $text_lg;
  }
}
@media screen and (max-width: $breakpoint_sm) {
  h1 {
    font-size: $title_sm;
  }
  h2 {
    font-size: $title_xsm;
  }
  h3 {
    font-size: $text_lg;
  }

  .swiper {
    padding-bottom: 30px !important;
  
    &.p_15 {
      padding-right: 5px !important;
      padding-left: 5px !important;
    }
  
    .swiper-pagination {
      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }

}
