.content_wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.text_primary {
  color: $primary;
}
.text_secondary {
  color: $secondary;
}
.text_danger {
  color: $danger;
}
.text_info {
  color: $info;
}
.text_success {
  color: $success;
}
.text_warning {
  color: $warning;
}

.text_center {
  text-align: center;
}

.w_100 {
  width: 100%;
}

.submit_wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.page_title {
  margin-bottom: 30px;
}


