

// colors

$primary: #FF9800;
$secondary: #004DBD;
$danger: #f00;
$warning: #f2a818;
$success: #089171;
$info: #17a2b8;
$light: #ffffff;


// fonts sizes

$title_lg:50px;
$title_md:40px;
$title_sm:30px;
$title_xsm:20px;

$text_lg:18px;
$text_md:16px;
$text_sm:14px;
$text_xsm:12px;


// Border Colors
$stroke_color: #e6e6ee;


// Font Weights
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;


// transitions
$transition_slow: 0.8s;
$transition_medium: 0.5s;
$transition_fast: 0.3s;


// radius
$radius_sm: 6px;
$radius_xsm: 4px;
$radius_md: 10px;
$radius_lg: 15px;
$radius_xlg: 100px;

//shadow 
$shadow_light: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);